name: Auto Tick Hourly

on:
  schedule:
   - cron: "*/40 * * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout repo (faiz branch)
        uses: actions/checkout@v4
        with:
          ref: faiz

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm ci

      - name: Run auto runner 
        env:
          REDIS_URL: ${{ secrets.REDIS_URL }}
          REDIS_NAMESPACE: projectB

          PASS_1: ${{ secrets.PASS_1 }}
          PASS_2: ${{ secrets.PASS_2 }}
          PASS_3: ${{ secrets.PASS_3 }}
          PASS_4: ${{ secrets.PASS_4 }}
          PASS_5: ${{ secrets.PASS_5 }}
          PASS_6: ${{ secrets.PASS_6 }}
          PASS_7: ${{ secrets.PASS_7 }}
          PASS_8: ${{ secrets.PASS_8 }}
          PASS_9: ${{ secrets.PASS_9 }}
          PASS_10: ${{ secrets.PASS_10 }}
          PASS_11: ${{ secrets.PASS_11 }}
          PASS_12: ${{ secrets.PASS_12 }}
          PASS_13: ${{ secrets.PASS_13 }}


        run: node scripts/auto-tick-runner.js
